// variables for different devices width and height
$small-devices-bp: 375px;

.home-item{
    display: flex;
    flex-flow: column wrap;
}



// p and img container
.home-item:nth-child(1) {
    // mobile first design
    border: 1px solid black;
    padding:3em;
    text-align:center;
    overflow: auto;
    p {
            font-size:1.75em;
    }

    img{
        max-height: 100%;
        max-width:100%;
        display: block; /* remove extra space below image */
    }

    @media (min-width: 375px) {
        text-align:left;
        padding: 2em;
    }
}
