// this approach is a mobile first design..


// variables
// $color-primary: #f8f3d4;

// breakpoints (scss style)

@mixin medium-screen {
    @media only screen and (min-width: 768px) {
        @content;
    }
}


//default styles (mobile first design)
p {
    color: whitesmoke;
}
img {
    display: block;
    height: auto;
    width: 100%;
}

h1,h2,h3 {
    padding: 1em 0em;
}

#introduction .content-wrap {
    padding: 1em 2em;
}

.content-wrap:first-child {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    font-size: 2em;
    color: white;
}
.content-wrap:first-child p > span {
    color: #F97671;
}



 
// section A
#section-a {
    background-color: transparent;
}


// breakpoint smaller screen (700px width or more)
@include medium-screen {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2,auto) 1fr;
    }
    #introduction > .content-wrap {
        grid-column: 1/4;
        font-size: 2em;
        text-align: left;
        justify-content: start;
        margin-top: 20%;        
    }
    #lucky-img-one {
        display: block;
        height: auto;
        width: 55%;
        margin-top: 5em;
        margin-left: 40%;
    }
}



