@mixin medium-screen {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

$card: 16px;




// mobile default properties

#section-1-about > .content-wrap-about {
    margin-top:2em;
}

#section-1-about > .content-wrap-about > p {
    font-size:1.5em;
    text-align: center;
    padding: 1em;
    margin: 0em 1em;
} 



#section-1-about > .content-wrap-about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#section-1-about > .content-wrap-about > span {
    font-size: 5em;
    padding: 0em 35px;
    color: #FEF9EF;
    border-radius: $card;
    background-color: #FF865E;
}











@include medium-screen {
    .grid-about {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        padding: 3em 20%;
    }
    .grid-about > .content-wrap-about {
        flex-flow: row nowrap !important;
        align-items: start;
        margin-top: 1.5% !important;
    }
    .grid-about > .content-wrap-about:nth-child(odd) {
        flex-flow: row-reverse nowrap !important;
    }

    .grid-about > .content-wrap-about:nth-child(odd) > p{
        text-align: left !important;
    }

    .grid-about > .content-wrap-about:nth-child(even) > p{
        text-align: right !important;
    }


    .grid-about > .content-wrap-about > p {
        font-size: 1.75em !important;
    }
    .grid-about > .content-wrap-about > span {
        font-size: 10em !important;
    }




}
