@mixin medium-screen {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

$card: 18px;




// mobile default properties


 .content-wrap-about > * {
    font-size:2em;
    text-align: center;
    padding: 1em;
    margin: 0.5em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius:$card;

} 



  .content-wrap-about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.content-wrap-about > div {
    font-size: 10em;
    padding: 0em 25px;
    color: #FEF9EF;
    border-radius: $card;
    background-color:#468bd4;

    display: flex;
    align-items:center;
    justify-content: center;
}














@include medium-screen {
    .grid-about {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows:auto;
 
        // padding: 3em 10%;
    }
.grid-about-item-one {
        // border: 1px solid black;
        grid-column: 1/7;
        margin: 1em 3em;
    }
 .content-wrap-about {
        flex-flow: row nowrap !important;
        align-items: center;
    }
.content-wrap-about:nth-child(odd) {
        flex-flow: row-reverse nowrap !important;
    }

.content-wrap-about:nth-child(odd) > p{
        text-align: left !important;
    }

 .content-wrap-about:nth-child(even) > p{
        text-align: right !important;
    }


 .content-wrap-about > p {
        font-size: 2em !important;
    }
 





}
